.border-white img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }
  .col-12 li {
    list-style: none;
  }
  .footer {
    color: white;
  }
  
   .card img{
      height: 200px
  }

  footer {
    background: var(--footer-bg);
}
footer .logo {
    max-width: 100px;
}
footer {
    color: #fff;
}
footer .subscription a,
footer .sitemap a {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.2s ease;
}
footer .subscription a:hover,
footer .sitemap a:hover {
    text-decoration: underline;
    color: #fff;
}
footer{background:#333333}